<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_with_precision(book.price, precision: 2) %>
  </p>
  <p>
    <strong>Published:</strong>
    <%= book.publish_date %>
  </p>

</div>
